@model clic.frontend.Controllers.HomeController.BootStrapperDataModel
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CLIC: Cambridge Logistics and Information Center</title>
    @Styles.Render("~/vendor/css")
    @Styles.Render("~/app/css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center" style="vertical-align:middle">Welcome to CLIC.</p>
        </div>
    </footer>
    @Html.HiddenFor(m => m.UserId)
    @Scripts.Render("~/vendor/js")
    @Scripts.Render("~/appScripts")
</body>
</html>
